h1 {
      text-align: center;
      Color : rgb(255, 255, 255);
      font-variant-caps: all-small-caps;
}

h2{
      font-variant-caps: all-small-caps;
      Color : rgb(98, 218, 74);
}

header{
  background-color: rgba(123, 230, 96, 0.76);
}

a{
      color: rgb(0, 0, 0);
      background-color: rgba(87, 100, 83, 0.76);
} 

aside{
      display : none;
}

section{
      background-color: rgb(78, 128, 128);
}